🐛 Bug Report: Scaffolder throws an error when `formState` query string exceeds 100k characters

### 📜 Description

Into Scaffoder plugin, TemplatePage.tsx file [line 123](https://github.com/backstage/backstage/blob/v1.21.1/plugins/scaffolder/src/legacy/TemplatePage/TemplatePage.tsx#L123) when excecute a template that have an upload field and the file is large (I am testing with 1.5mb) the url to navigate throw "operation insecure" because de url exceeds 100 thousand characters, and does not navigate to the next screen with task steps.

### 👍 Expected behavior

Check if URL exceeds 100 thousand characters and skip replace url (line 123) and continue excecution.

In 2022, a new update was published, defining HTTP semantics independently of HTTP version (HTTP/1.1, HTTP/2, HTTP/3). [RFC 9110, section 4.1](https://www.rfc-editor.org/rfc/rfc9110#section-4.1-5), says:

`
It is RECOMMENDED that all senders and recipients support, at a minimum, URIs with lengths of 8000 octets in protocol elements. Note that this implies some structures and on-wire representations (for example, the request line in HTTP/1.1) will necessarily be larger in some cases.
`

A solution could be for example:

`
if (newUrl.length < MAX_CHARACTERS) { 
  window.history?.replaceState(null, document.title, newUrl); 
}
`

### 👎 Actual Behavior with Screenshots

![error_template_large_file_operation_insecure](https://github.com/backstage/backstage/assets/7100674/84579ada-c7f9-4576-bdc1-b823dfb54d96)


### 👟 Reproduction steps

- go to a template with a field to attach a file
- upload large file (example more than 1.5mb)
- clic "Create" button.

### 📃 Provide the context for the Bug.

I can not upload large files and this is 90 percent of the cases.

### 🖥️ Your Environment

The last version 1.21.1

### 👀 Have you spent some time to check if this bug has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/backstage/backstage/blob/master/CODE_OF_CONDUCT.md)

### Are you willing to submit PR?

No, but I'm happy to collaborate on a PR with someone else

Hi @benjdlambert, thanks for your comment.

I think that remove only base64 from the query string is nice solution, if the user go back to template only will need to add file again and the others fields will be filled.

Regards.

@acierto do you have an opinion here? Wondered if you use this feature and have run into this before?

@acierto not exactly like this one, we didn't have any use case for uploading files yet, but looked at it from the position of editing the template, it goes kinda to the same workflow. 

As for me, it sounds more like a workaround that a solution :) 

Maybe it can be like a quick fix but for a long term to think about something that can handle it? 
Like for example we can do URL shortener and store the full path in the database, with periodic cleanup of unused URLs it shouldn't pollute the database. 





Hmm - I'm thinking that a better short term solution would be for us to support both `?formState={ something: 'init' }` and `?fromRun={runId}` and that these get merged together with `formState` being the one that takes precedence.

This was we support people sharing links for pre-populated data, but restarting jobs with the same data uses `fromRun={runId}` instead, and will set the `formState` to the previous `parameters` block too.

The short link stuff sounds good, but feels like a lot of additional work at the minute. Don't really want to be adding more tables yet until we've worked out what the new scaffolder-backend looks like.

For the record also, this is not just a legacy export problem, this also would appear with the scaffolder plugin, so going to remove that from the title.

@jorgeluis1911 you should also be aware that the legacy exports have just been removed, so from 1.23 you will need to use the default exports from the scaffolder plugin. #22281 

Hi @benjdlambert, hm ok, I understand.

I have tried to use the latest version of the scaffolder plugin, but I have 2 problems:
- one is with the log of the steps, the web page is blocked when clicking the "view logs" button.
- the other is in the multivalue fields, even though I have values selected, when I click "next" I get the message that I have to fill out this field.

I have searched for these 2 problems in the issues/comments and I have not seen anything. Do these problems sound familiar to you?

Thank you so much. Regards.

 @jorgeluis1911 It would be nice to get these issues created so that we can take a look at them before the release goes out in feb. I don't think we have seen these bugs before, could you create two separate issues with some reproduction cases so we can take a look and find out what's going on.